.filterContainer{
    background-color: black;
}

.taskTitle{
    font-size: x-large;
}

.taskTitle.taskTitleNull{
    background-color: salmon;
}

.date{
    font-size: x-large;
}

.time{
    font-size: x-large;
}

.newTaskBtn{
    
}

.taskLabel{
    font-size: xx-large;
}